<div class="col-4 mt-3">
    <div class="card ml-2" style="height: 100%;">
    {% with car.carpictures_set.first as car_picture %}
            {% if car_picture %}
                <a href="{% url 'details' car.id %}"><img src="{{car_picture.picture.url}}" style="width: 100%;"></a>
                <div class="card-body d-flex flex-column">
                    <div class="flex-grow-1"></div>
                    <h5 class="card-title">{{ car.manufacturer }} {{ car.model }}</h5>
                    <div>
                        <ul>
                            <li class="card-text">Price: {{car.price}}lv</li>
                            <li class="card-text">Mileage: {{car.mileage}}km</li>
                            <li class="card-text">{{ car.place }}</li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">                    
                        <a href="{% url 'details' car.id %}" class="btn btn-primary btn-lg">Learn more</a>
                            {% if user.is_authenticated %}
                                {% if car.seller == request.user %}
                                    <a href="{% url 'delete car' car.id %}" class="btn btn-danger btn-lg">Remove listing</a>
                                {% elif request.user in car.users_who_favourited_car %}
                                    <a href="{% url 'favourite' car.id %}" class="btn btn-success btn-lg">Remove from favourites</a>
                                {% else %}
                                <a href="{% url 'favourite' car.id %}" class="btn btn-success btn-lg">Add to favourites</a>
                                {% endif %}
                            {% endif %}
                    </div>

                </div>
            {% endif %}
    {% endwith %}
    </div>
</div>