{% extends "base/layout.html" %}

{% block body %}

    <h1>{{ car.manufacturer }} {{ car.model }}</h1>
    <div class="row">
      <div class="col-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            {% for image in pictures %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|add:-1 }}" {% if forloop.counter == 1 %} class="active" aria-current="true" {% endif %} aria-label="Slide 1"></button>
            {% endfor %}
          </div>
          <div class="carousel-inner">
            {% for image in pictures %}
            <div {% if forloop.counter == 1 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
              <img src="{{ image.picture.url }}" class="d-block w-100">
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-6">
        <ul>
          <li>
            Category: {{car.get_category_display}}
          </li>
          <li>
            Gearbox type: {{car.get_gearbox_type_display}}
          </li>
          <li>
            Engine type: {{car.get_engine_type_display}}
          </li>
          <li>
            Power: {{car.engine_power}}
          </li>
          <li>
            Engine volume: {{car.engine_volume}}
          </li>
          <li>
            Eurostandard: {{car.eurostandard}}
          </li>
          <li>
            Mileage: {{car.mileage}}
          </li>
          <li>
            Production date: {{car.production_date}}
          </li>
          <li>
            Color: {{car.get_color_display}}
          </li>
          <li>
            Condition: {{car.get_condition_display}}
          </li>
          <li>
            Price: {{car.price}}
          </li>
          <li>
            Region: {{car.region}}
          </li>
          <li>
            City/Town: {{car.place}}
          </li>
          <li>
            Seller: {{car_seller.first_name}}
          </li>
        </ul>
      </div>
    </div>
{% endblock %}